%header.row
  %h1.text-center Find Recipes

%section.row
  %form
    .form-group.col-md-6.col-md-offset-3
      %label.sr-only{:for => "keywords"} Keywords
      %input.form-control{:autofocus => "", "clear-input" => "", :name => "keywords", "ng-model" => "keywords", :placeholder => "Recipe name, e.g. Baked Potato", :type => "text"}/
    .form-group.col-md-6.col-md-offset-3.text-center
      %button.btn.btn-primary.btn-lg{"ng-click" => "search(keywords)"} Search
      %button.btn.btn-info.btn-lg{"ng-click" => "newRecipe()"} New Recipe…

%hr

%section.row
  %ul.list-unstyled
    %li{"ng-repeat" => "recipe in recipes"}
      %section.well.col-md-6.col-md-offset-3
        %h1.h3.col-md-6.text-right{:style => "margin-top: 0"}
          %a{:href => "", "ng-click" => "view(recipe.id)"} {{recipe.name}}
        .col-md-6
          %button.btn.btn-info{"ng-click" => "edit(recipe.id)"} Edit
  %p.text-center{"ng-hide" => "recipes.length"} No results matching "{{keywords}}"
